.DS_Store
node_modules
/dist

# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database
*.db
*.db-journal
.data

# PWA
public/sw.js
public/workbox-*.js
